/* ==== Background ==== */

#bg {
    position: relative;
    width: 100%;
    height: 150px;
}

#bg > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.bg-std {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.bg-writers {
    background-image: url('../img/bg-writers.jpg');
    z-index: -2;
}

.bg-image {
    background-image: url('../img/bg-image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.bg-image-push-bg {
    background-position-y: -100px;
}

.bg-color {
    background-color: #fff;
    opacity: 0.5;
    z-index: 2;
}

.bg-hall {
    background-image: url('../img/decoration/hall.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100px;
}

/* ==== PresentRow */

#presentRow {
    background: rgb(255,120,120);
    background: linear-gradient(90deg, 
                                rgba(255,120,120,1) 0%,    
                                rgba(246,207,35,1) 18%, 
                                rgba(242,255,93,1) 55%, 
                                rgba(255,237,0,1) 89%);
}


/* ==== cardCadastroLivro ==== */

#cardCadastroLivro {
    height: 75%;
} 

#cardCadastroLivro img {
    height: 200px;
}

.row .card-sm #cardCadastroLivro {
    height: 100%;
}

/* ==== Footer ==== */

/* #footer {
    bottom: 0;
} */

#footer .col-sm {
    width: 50%;
}

/* ==== Components ==== */

/* ==== Carousel ==== */

#carouselIndicators {
    height: 75%;
}

#carouselIndicators .carousel-item {
    width: 100%;
    height: 100%;
    max-height: 100%;
}

#carouselIndicators .carousel-item img {
    height: 300px;
}

/* ==== Hall ==== */

.heroes {
    position: absolute;
    width: 7rem;
    height: 7rem;
    top: -10%;
    right: -10%;
}

.heroes.hero-1 {
    background-image: url('../img/decoration/hero-1.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.heroes.hero-2 {
    background-image: url('../img/decoration/hero-2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.heroes.hero-3 {
    background-image: url('../img/decoration/hero-3.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

/* ==== Rank ==== */

#rank {
    background: rgb(249,182,105);
background: linear-gradient(241deg, rgba(249,182,105,1) 0%, 
                                rgba(246,207,35,1) 18%, 
                                rgba(242,255,93,1) 55%, 
                                rgba(255,237,0,1) 89%);
}

/* ==== endComponents ==== */


/* ==== General ==== */

html, body {
    min-height: auto;
}

body {
    position: relative;
}

.title {
    width: 100%;
    font-weight: bold;
    font-family: Helvetica;
    font-size: 32px;
    text-align: center;
    padding: 5px;
    z-index: 10;
}